@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@font-face {
  font-family: "Quart";
  src: url("/assets/Quart-Regular.ttf")
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
}

body {
  background-color: #f8f8f8;
}

p {
  @apply font-rubik
}

h1 {
  @apply font-quart text-4xl font-light
}
h2 {
  @apply font-quart text-3xl font-light
}
h3 {
  @apply font-quart text-xl font-light
}
h4 {
  @apply font-rubik text-2xl font-semibold
}

button {
  @apply p-5 border border-blue-200 hover:border-blue-500 transition-colors duration-150 shadow-md rounded-md
}

a {
  @apply font-rubik text-blue-700
}