@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Rubik&display=swap');
@font-face {
  font-family: "Hatton B";
  src: url("/assets/PP Hatton Bold 700.otf")
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
}

body {
  @apply font-rubik bg-milk text-midnight;
  font-display: swap;
}

h1 {
  @apply font-hattonb text-4xl font-bold text-midnight
}
h2 {
  @apply font-hattonb text-3xl font-light text-midnight
}
h3 {
  @apply font-hattonb text-xl font-light text-midnight
}
h4 {
  @apply font-rubik text-2xl font-bold text-midnight
}


button {
  @apply font-rubik text-blue-700
}

a {
  @apply font-rubik text-blue-700
}

ul {
  @apply list-disc list-inside
}

ol {
  @apply list-decimal list-inside
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}